body {
  background-color: #e5e5e5;
  /*Background-Color*/
}

.header {
  position: fixed;
  width: 100%;
  height: 92px;
  background-color: #002157;
  /*BLUE*/
  color: white;
  top: 0px;
  left: 0px;
}

.heading {
  margin-left: 20px;
  font-family: "Comfortaa", "Helvetica", sans-serif;
}

#search_bar {
  height: 25px;
  width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#go {
  height: 29px;
  width: 50px;
  background-color: midnightblue;
  border: 1px solid white;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.headText {
  font-size: 12px;
  font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

.side-navigation-contain {
  background-color: #e5e5e5;
  position: fixed;
  height: 100%;
  width: 220px;
  top: 10px;
  left: 0px;
  margin-top: 83px;
  padding-left: 10px;
  z-index: 1;
}

.time-selector {
  margin-top: 20px;
}

.sn-filter {
  color: darkblue;
  margin-left: 20px;
}

.sn-filter:hover {
  text-decoration: underline;
}

.items-table {
  top: 0px;
  left: 0px;
  margin-top: 95px;
  margin-left: 230px;
  width: 900px;
  height: auto;
  background-color: white;
}

.items {
  margin-top: 3px;
  box-shadow: -5px 0px 5px grey;
  font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

.items:hover {
  background-color: #fffaf0;
}

#advance_search {
  border-radius: 5px;
}

#advance_search:hover {
  background-color: red;
  border: 2px solid white;
  color: aliceblue;
}

.advance_search_bar {
  width: 895px;
  height: 100px;
  margin: 80px 0px -90px 230px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
}

.advance_search_label {
  margin-left: 20px;
}

#as_btn:hover {
  background-color: midnightblue;
  color: aliceblue;
  box-shadow: 2px 2px 5px black;
}

.account_info {
  content: "";
  height: 300px;
  width: 250px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  color: black;
  top: 85px;
  right: 10px;
  position: fixed;
}

.triangle {
  position: fixed;
  top: 80px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 2;
}

.account_info_content {
  margin: 30px;
}

.logout_btn {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: royalblue;
  color: white;
}

/*room booking start*/
.permission_function {
  position: fixed;
  left: 14px;
  margin-top: 40px;
  text-align: left;
  color: midnightblue;
}

.permission_function:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*room booking end*/

.preview:hover {
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.reserve:hover {
  border-radius: 5px;
  background-color: greenyellow;
  cursor: pointer;
}

/*POP UP BOX*/
.popup_container {
  margin: auto;
  width: 50%;
  height: 50%;
}

.popup_box {
  position: fixed;
  margin-top: 50px;
  width: 800px;
  height: 620px;
  border: 3px solid grey;
  border-radius: 10px;
  background-color: white;
  z-index: 3;
}

#popup_close {
  margin-right: -30px;
  background-color: red;
  color: aliceblue;
  font-family: sans-serif;
  height: 25px;
  border-radius: 10px;
}

#popup_close:hover {
  background-color: pink;
}

#preview_text,
#preview_content {
  margin-left: 50px;
}

#preview_img {
  margin-left: 50px;
}

/*For PREVIEW ANIM*/
#arrowRight {
  width: 300px;
  height: 400px;
  margin-top: -100%;
  margin-left: 350px;
  transition: 1s ease-in-out;
}

#arrowRight:hover {
  transform: translate(50px);
  cursor: pointer;
}

.messagebox {
  text-align: center;
  width: 100px;
  background-color: #000;
  opacity: 0.8;
  color: white;
  border-radius: 10px;
  margin-left: 450px;
  margin-top: -450px;
  padding: 5px;
}

#backTobookDetails {
  margin-top: 30px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
}

#backTobookDetails:hover {
  background-color: mediumblue;
  cursor: pointer;
}

.flip-panel {
  display: block;
  position: relative;
  width: 300px;
  height: 450px;
  margin: auto;
  margin-left: 350px;
  perspective: 1200px;
}

.panel {
  transition: z-index 1s ease-in-out 1s;
}

.content {
  padding: 12px;
}

.panel,
.panel .front,
.panel .back {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 1s;
}

.panel .front {
  background-color: lightgoldenrodyellow;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: -5px 0px 10px grey;
  z-index: 2;

  -moz-transform: rotateY(0deg);
  -moz-transform-origin: left;
  transform: rotateY(0deg);
  transform-origin: left;
  backface-visibility: hidden;
}

.panel .back {
  background-color: lightgoldenrodyellow;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: -5px 0px 10px grey;
  left: -100%;
  z-index: 1;
  
  -moz-transform: rotateY(180deg);
	-moz-transform-origin: right;
	transform: rotateY(180deg);
	transform-origin: right;
  
  backface-visibility: hidden;
}

.panel .front:hover {
	-moz-transform: rotateY(-25deg);
	-moz-transform-origin: left;
	transform: rotateY(-25deg);
	transform-origin: left;
	box-shadow: 4px 4px 12px rgb(100,100,100);
}

.panel.open {
  z-index: 1;
}

.panel.open .front {
  z-index: 1;
  -moz-transform: rotateY(-180deg);
  -moz-transform-origin: left;
  transform: rotateY(-180deg);
  transform-origin: left;
}

.panel.open .back {
  z-index: 2;
  -moz-transform: rotateY(0deg);
  -moz-transform-origin: right;
  transform: rotateY(0deg);
  transform-origin: right;  
}

.book_hits_text_n {
  margin-left: 120px;
  color: darkblue;
  text-decoration: underline;
  text-shadow: 1px 1px grey;
}

.book_hits_text_f {
  color: darkblue;
  text-decoration: underline;
  text-shadow: 1px 1px grey;
}